
.containers{
    
    width: 100%;
    height: 250vh;
    position: relative;
}
.heading{
    background: black;
    width: 100%;
    height: 80px;
    padding-right: 100px;
    
}
.navbar{
    display: flex;
    width: 84%;
    justify-content: space-between;
    margin-left: 100px;
    align-items: center;
}
.linkitem{
    display: inline-block;
    margin: 10px 20px;


}
.links{
    text-decoration: none;
    font-weight: bolder;
    color: white;
    font-size: 20px;
}
.links:hover{color: red;}
#logo{

    width: 180px;
    height: 100px;
}

.second{ height: 400px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;

}
.text{
 text-align: left;
 margin-left: 0px;
}
.col-md-8{
    display: flex;
    justify-content: center;


}
.col-md-4{
    margin-left: 0px;
}
.title{
    margin-left: 0px;
}
.col-md-4{
    margin-left: 160px;
    
    width: 200px;
}
.card-body{ margin-left: 200px;

width: 300px; }

.first{
    background-color: black;
    color: white;
    margin-top: 50px;

}

.box{ color: black;
   
    
}
.box1{
    color: red;
}
.third{
    margin-left: 380px;
    margin-top: 100px;
}
.line{
    color: white;
}

.line2{
    color: black;
}

.title1{
    font-weight: 2000;
    font-style: bold;
    color: red;
    font-size: 70px;
}

.last{
    
    background-color: black;
    color: white;

}

.pic{
    color: white;
}

.last1{
    text-align: center;
    height: 300px;
    width: 530px;
    margin-left: 280px;
    
 padding-top: 280px;
 
}

.footer1{
    font-size:15px ;
    color:black;
    width: 100%;
    height: 40px;
    width: 400px;
    
    margin-left: 110px;
    margin-top: 10px;
    
    

}

.clr{
    background-color: black;
    color: white;
}
.kopiko_first{
    margin-left: 40px;
}

.left{ margin-left: 40px;}
.buy{
    margin-left: 40px;
    background-color: rgb(50, 38, 38) ;
    color: white;
}
.icon_set{
    display:flex;
    text-align: center;
    
    margin-top: 2rem;
    margin-left: 100px;}
    .icon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 12px;
        margin-right: 20px;
        
    }.icon i{
        font-size: 2rem;
        color: black;}
        .icon:hover{
            background-image: linear-gradient(to bottom right,rgb(123, 111, 102),rgb(97, 56, 56));
        }
        
        .icon:hover i{
            color:white;
            animation: shake 0.75s;
        }
        @keyframes shake{
            10%{ transform: rotate(15deg);}
            20%{ transform: rotate(-15deg);}
            30%{ transform: rotate(-15deg);}
            40%{ transform: rotate(-15deg);}  
        }